$color3: #333333;
$size: 16px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list-item {
  display: inline-block;
  font-weight: 700;
  font-size: $size;
  color: $color3;
  margin-right: $size;
}